<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
        
    <aop:aspectj-autoproxy/>

	<!-- <mvc:annotation-driven /> -->

	<context:annotation-config />

	<context:component-scan base-package="com.reagan" />
	
	<context:property-placeholder location="/WEB-INF/config/sysconfig.properties"/>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>  

	<bean id="handlerMapping"  class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
	 
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver"
		p:order="0" >

		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" /> 
			</map>
		</property>
		
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"
					p:order="10" />
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
					p:order="0" 
					p:prefix="/WEB-INF/views/" 
					p:suffix=".jsp"
					p:viewClass="org.springframework.web.servlet.view.JstlView" />
			</list>
		</property>
	</bean>
	
	
	<mvc:resources cache-period="31556926" location="/lib/"
		mapping="/lib/**" />
		
	<mvc:resources cache-period="31556926" location="/app/"
		mapping="/app/**" />
	
	<mvc:resources cache-period="31556926" location="/WEB-INF/views/"
		mapping="/WEB-INF/views/**" />

	<mvc:resources cache-period="31556926" location="resources/"
		mapping="/resources/**" />

	
</beans>